<div class="clearfix"></div>
        <footer id="footer">
            <div class="wrap">

                <div id="menu_footer">
                    <h5>MENU</h5>
                    <ul>
                        <li><a href="#">Inicio </a></li>
                        <li><a href="#">Blog </a></li>
                        <li><a href="#">Formacion </a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div id="location">
                    <h5>¿Donde estamos?</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.748137788863!2d-99.16822658528974!3d19.42328524601191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2001df411d46d%3A0xe2d7460a1a13552a!2sNova%20by%20reboot!5e0!3m2!1sen!2smx!4v1591666946492!5m2!1sen!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                    <div id="info">
                        <h5>Desarrollado con</h5>
                        <p>
                            <img src="../../../assets/img/html5-badge-h-css3-graphics-multimedia-performance-semantics.png" alt="Creado con HTML y CSS">
                        </p>
                        <h5>Optimizado para</h5>
                        <p id="browsers">
                            <a href="#">
                                <img src="../../../assets/img/firefox-icon.png" alt="firefox" title="Firefox">
                            </a>
                            <a href="#">
                                <img src="../../../assets/img/chrome.png" alt="Chrome" title="Chrome">
                            </a>
                            <a href="#">
                                <img src="../../../assets/img/Opera_256x256.png" alt="Opera" title="Opera">
                            </a>
                            <a href="#">
                                <img src="../../../assets/img/safari.png" alt="Safari" title="Safari">
                            </a>
                            <a href="#">
                                <img src="../../../assets/img/android.png" alt="Android" title="Android">
                            </a>
                            <a href="#">
                                <img src="../../../assets/img/ios.png" alt="Ios" title="Ios">
                            </a>
                        </p>
                        <h5>AUTOR</h5>
                        <p>&copy; Jonathan Salazar</p>
                    </div>
            </div>
        </footer>          