<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="gear">S</span>
        <h2>Office Quality</h2>
      <header id="header">
            <div id="menu">
                <ul>
                    <li><a href="#">Inicio </a></li>
                    <li><a href="#">Formacion </a></li>
                    <li (click)="openModal()"><a>Contacto</a></li>
                </ul>
            </div>
    </header> 
    </mat-toolbar-row>
</mat-toolbar>