@font-face{
    font-family: "TrebuchetMS";
    src: url('../../../assets/fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: "BebasNeue";
    src: url('../../../assets/fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: "WebSymbolsRegular";
    src: url('../../../assets/fonts/websymbols-regular-webfont.eot');
    src: url('../../../assets/fonts/websymbols-regular-webfont.eot?#iefix')format('embedded-opentype'),
         url('../../../assets/fonts/websymbols-regular-webfont.woff')format('woof'),
         url('../../../assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../../../assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gear{
    font-family: "WebSymbolsRegular";
    animation-name: rotate-gear;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}



mat-toolbar-row > h2{
    font-size: 17px;
    padding-left: 7px;
    color: white;
    font-weight: lighter;
     z-index: 101;
}


#header{
    width: 100%;
    height: 57px;
    background-color: #3f51b5;
    font-family: "BebasNeue";
    color: white;

}

#menu{
    float: right;
    height: 70px;
    background: transparent;
}

#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2,1.2);
}

@media (max-width: 700px){

    #menu ul li{
       font-size: 16px;
       display: inline-block;
       margin: 13px 6px 0px 0px;
       margin-right: 6px;
       letter-spacing: 1px;
       line-height: 9px;
       margin-right: 3px;
    }
    #menu ul li:last-child{
       margin-right: 10px;
    }

    #header{
        width: 100%;
        height: 57px;
        background-color: #3f51b5;
        font-family: "BebasNeue";
        color: white;
        margin-left: -26px;
        
    }
}