<h2 mat-dialog-title>Hola y Bienvenido</h2>
<h2 mat-dialog-title>¿ Te gustaria recibir promociones en tu email ?</h2>
<mat-dialog-actions>
    <mat-label>Email: </mat-label>
    <input  placeholder="Ingresa tu email">
    <br>
    <button mat-button mat-dialog-close mat-dialog-close="true">Si me gustaria</button>
    <button mat-button mat-dialog-close mat-dialog-close="false">No, gracias</button>
</mat-dialog-actions>
