/* You can add global styles to this file, and also import other style files */
// *{
//     padding: 0px;
//     margin: 0px;
// }
// .background{
//     width: 100%;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
