<app-header></app-header>
<section class="first">
  <div id="banner">
    <h1> Bienvenido a Office Quality </h1>
        </div>
  <div id="cards">
    <div class="card">
        <p class="icon">H</p>
        <h2 class="category">Desarrollo Web</h2>
        <p class="description">
            Aprende los principales lenguajes para desarrollar webs ¡Conviertete en un buen Desarrollador!
        </p>
    </div>
    <div class="card">
        <p class="icon">_</p>
        <h2 class="category">Sistemas Operativos</h2>
        <p class="description">
            Aprende a administrar sistemas Linux y Windows con nuestras capacitaciones
        </p>
    </div>
    <div class="card">
        <p class="icon">S</p>
        <h2 class="category">Hardware</h2>
        <p class="description">
            Conoce los temas mas avanzados del Hardware
        </p>
    </div>
    <div class="card">
        <p class="icon">u</p>
        <h2 class="category">Redes e Internet</h2>
        <p class="description">
            Aprende a configurar y administrar redes informaticas y servidores
        </p>
    </div>
    <div class="card">
        <p class="icon">a</p>
        <h2 class="category">Bases de Datos</h2>
        <p class="description">
            Aprende a montar y administrar bases de datos
        </p>
    </div>
</div>
</section>

<app-footer></app-footer>



