*{
    padding: 0px;
    margin: 0px;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('../../../assets/fonts/websymbols-regular-webfont.eot');
    src: url('../../../assets/fonts/websymbols-regular-webfont.eot?#iefix')format('embedded-opentype'),
         url('../../../assets/fonts/websymbols-regular-webfont.woff')format('woof'),
         url('../../../assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../../../assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "TrebuchetMS";
    src: url('../../../assets/fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: "BebasNeue";
    src: url('../../../assets/fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

.first{
    background-image: linear-gradient(rgba(0,0,0,0.5), transparent), url("../../../assets/img/office.jpg");
    color: black;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second{
    background-image: linear-gradient(rgba(0,0,0,0.5), transparent), url("../../../assets/img/office2.jpg");
    color: black;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#banner{
    background: transparent;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 5s linear;
}

@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }

    100%{
        background-position: -200px -200px;

    }
}


#banner h1{
    display: block;
    width: 300px;
    font-family: "BebasNeue";
    color: white;
    font-size: 45px;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 2px;
    margin: 27px auto;
    text-transform: uppercase;
    text-align: center;
    animation: showText 3s linear;
}

@keyframes showText{
    50%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: 2px 2px 1px black;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white ;
        opacity: 1;
    }
}








.card{
    float: left;
    width: 205px;
    height: 305px;
    // border: 1px solid #cccccc;
    border: transparent;
    box-shadow: 1px 1px 2px #ddd;
    background: transparent;
    overflow: hidden;
    margin: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.card:last-child{
    margin-right: 0px;
}

.card .icon{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 0px auto;
    font-family: "WebSymbolsRegular" ;
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: "TrebuchetMS";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #05304d;
}

.card .description{
    text-align: center;
    color: #f3f7fa;
    font-family: "TrebuchetMS";
    font-size: 15px;
}

@media (max-width: 500px){
    #cards{
        width: 50%;
    }
}